* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: lightgrey;
}


.header {
    text-align: center;
    font-size: 2rem;
    padding: 30px
}

/* #title {
    font-size: 156;
} */

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;

}

.settings {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

#grid {
    background-color: white;
    display: grid;
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
    gap: 1px;
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}


#sliders, #values {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#sliders {
    margin: 1rem 0;
}

#rgbSliderR {
    accent-color: red;
}

#rgbSliderG {
    accent-color: green;
}

#rgbSliderB {
    accent-color: blue;
}

#sizeSlider {
    accent-color: black;
}

#previewSquare {
    min-height: 100px;
    min-width: 100px;
    background-color: black;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer {
    text-align: center;
}